@use "../helpers"as *;

.footer {
    background-color: var(--color-gray);
    color: var(--color-light);
    padding-block: 60px 45px;

    @include tablet {
        padding-block: 50px 100px;
    }

    @include mobile {
        padding-block: 25px 35px;
    }

    .footer-label {
        font-weight: 500;
        font-size: 18px;
        color: var(--color-line);
        margin-bottom: 30px;

        @include mobile {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-line);
        padding-bottom: 50px;

        @include mobile {
            padding-bottom: 25px;

            .visible-mobile-only {
                .icon::after {
                    --size: #{rem(45)};
                }
            }
        }
    }

    &__logo img {
        filter: brightness(0) invert(1);
    }

    &__body {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        padding-bottom: 70px;

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 90px;
            padding-top: 35px;
            padding-bottom: 120px;
        }

        @include mobile {
            row-gap: 60px;
            padding-top: 25px;
            padding-bottom: 40px;
        }
    }

    &__left {
        display: flex;

        @include mobile {
            flex-direction: column;
            row-gap: 60px;
        }
    }

    &__navigation {
        padding-right: rem(120);
        border-right: 1px solid var(--color-line);

        @include tablet {
            padding-right: rem(60);
        }

        @include mobile {
            border-right: none;
            padding-right: 0;
        }

        &-list {
            display: grid;
            row-gap: 30px;
            padding-block: 20px;
            font-weight: 500;
            font-size: 18px;
            color: var(--color-light);

            @include mobile {
                font-size: 16px;
                padding-block: 0px;
            }
        }
    }

    &__contacts {
        padding-left: rem(120);
        padding-right: 20px;

        @include tablet {
            padding-left: rem(60);
        }

        @include mobile {
            padding-left: 0;
            padding-right: 0;
        }

        &-list {
            display: grid;
            row-gap: 40px;
            padding-top: 20px;

            @include mobile {
                row-gap: 30px;
                padding-top: 0px;
            }
        }

        &-item {
            display: grid;
        }

        &-link {
            font-weight: 700;
            font-size: 24px;
            line-height: 1;
            color: var(--color-light);
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 20px;

        @include tablet {
            align-items: flex-start;
        }
    }

    &__social-link:hover svg circle {
        fill: var(--color-accent);
    }

    &__social-list {
        display: flex;
        gap: 20px;
        list-style: none;
    }

    &__ticker {
        overflow: hidden;
        position: relative;
    }

    &__marquee {
        display: flex;
        width: fit-content;
        margin-bottom: 80px;
        will-change: transform; // Оптимизация для анимации
        animation: marquee 40s linear infinite;

        @include tablet {
            margin-bottom: 120px;
        }

        @include mobile {
            margin-bottom: 35px;
        }

        &-text {
            text-transform: uppercase;
            font-weight: 700;
            font-size: clamp(105px, 13.95vw, 268px);
            line-height: 0.7;
            color: #2b2b2b;
            white-space: nowrap;
            padding-right: 50px;
            flex-shrink: 0;

            @include tablet {
                font-size: 186px;
            }

            @include mobile {
                font-size: 105px;
            }
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        color: var(--color-light);
    }
}