@use "../helpers"as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    transition: background-image 0.2s ease-in-out;

    &::after {
        --size: #{rem(35)};

        @include square(var(--size));
        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--right-arrow {
        &::after {
            background-image: url('./../icons/arrow.svg');
        }
    }
}

.icon-close {
    &::after {
        --size: #{rem(45)};

        @include square(var(--size));
        content: '';
        flex-shrink: 0;
        background-image: url('./../icons/close.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include mobile {
            --size: #{rem(30)};
        }
    }

}


.button-calc .icon {
    &::after {
        --size: #{rem(45)};

        @include square(var(--size));
    }

}

.icon-close1 {
    --size: #{rem(45)};
    --transition-duration: 0.4s;
    --transition-easing: ease-in-out;

    @include square(var(--size));
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--color-blue);
    cursor: pointer;
    transition:
        background-color var(--transition-duration) var(--transition-easing),
        transform 0.2s ease;

    svg {
        width: 17px;
        height: 17px;
        will-change: transform; // Оптимизация анимации

        path {
            stroke: var(--color-light);
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition:
                stroke var(--transition-duration) var(--transition-easing);
        }
    }

    @include hover {
        background-color: var(--color-accent);

        svg path {
            stroke: var(--color-light);
            transition-delay: 0s;
        }
    }


    &:active {
        transform: scale(0.95);
    }
}

.icon-arrow {
    --size: #{rem(45)};

    @include square(var(--size));
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--color-light);

    /* Градиент для анимации заливки */
    background-image: linear-gradient(var(--color-blue), var(--color-blue));
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out, color 0.4s ease-in-out;
    cursor: pointer;


    @include hover {
        background-size: 100% 100%;

        svg path {
            stroke: var(--color-light);
        }
    }

    svg {

        transition: stroke 0.4s ease-in-out;
    }
}


.hover-circle {
    position: relative;
    transition: all 0.4s ease-in-out;
    overflow: hidden;


    &::before {
        content: '';
        position: absolute;
        background-color: var(--color-blue);
        transition: all 0.4s ease-in-out;
        z-index: -1;

        @include tablet {
            display: none;
        }
    }
    @include hover {
        color: var(--color-light);

        h3 {
            color: var(--color-light);

            @include tablet {
                color: inherit;
            }
        }

        @include tablet {
            color: inherit;
        }
    }
   
}


.hover-circle-top {
    &::before {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-top-right-radius: 150%;
        border-top-left-radius: 150%;


    }

    &:hover::before {
        height: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}


.hover-circle-left {
    &::before {
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    &:hover::before {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.to-left {
    background-position: 100% 50%;
}

.to-right {
    background-position: 0% 50%;
}

.to-top {
    background-position: 50% 100%;
}

.to-bottom {
    background-position: 50% 0%;
}


.to-left,
.to-right {
    background-size: 0% 100%;
}

.to-top {
    background-size: 100% 0%;
}