@use "../helpers"as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(10);
    transition: background-image 0.2s ease-in-out;

    &::after {
        --size: #{rem(35)};

        @include square(var(--size));
        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &--right-arrow {
        &::after {
            background-image: url('/icons/arrow.svg');
        }
    }
}

.icon-close {
    &::after {
        --size: #{rem(45)};

        @include square(var(--size));
        content: '';
        flex-shrink: 0;
        background-image: url('/icons/close.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include mobile {
            --size: #{rem(30)};
        }
    }

}


.button-calc .icon {
    &::after {
        --size: #{rem(45)};

        @include square(var(--size));
    }

}



.icon-arrow {
    --size: #{rem(45)};

    @include square(var(--size));
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--color-light);

    /* Градиент для анимации заливки */
    background-image: linear-gradient(var(--color-blue), var(--color-blue));
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out, color 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
        background-size: 100% 100%;

        svg path {
            stroke: var(--color-light);
        }
    }

    svg {

        transition: stroke 0.4s ease-in-out;
    }
}


.hover-circle-top {
    position: relative;
    transition: all 0.4s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--color-blue);
        border-top-right-radius: 200%;
        border-top-left-radius: 200%;
        transition: all 0.4s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: var(--color-light);

        &::before {
            height: 100%;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            background-color: var(--color-blue);
        }

        h3 {
            color: var(--color-light);
        }
    }
}

.hover-circle-left {
    position: relative;
    transition: all 0.4s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        width: 0;
        height: 100%;
        background-color: var(--color-blue);
        border-top-left-radius: 200%;
        border-bottom-left-radius: 200%;
        transition: all 0.4s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: var(--color-light);

        &::before {
            width: 100%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: var(--color-blue);
        }

        h3 {
            color: var(--color-light);
        }
    }
}


.to-left {
    background-position: 100% 50%;
}

.to-right {
    background-position: 0% 50%;
}

.to-top {
    background-position: 50% 100%;
}

.to-bottom {
    background-position: 50% 0%;
}


.to-left,
.to-right {
    background-size: 0% 100%;
}

.to-top {
    background-size: 100% 0%;
}