@use "../helpers"as *;

.our-clients {
    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 100px;

        @include mobile {
            row-gap: 75px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(16);

        @include laptop {
            grid-template-columns: 1fr 1fr; // На планшете — два столбца
        }

        @include mobile {
            grid-template-columns: 1fr; // На мобильных — один столбец
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 25px 5px 25px 25px;
        border-radius: 20px;
        height: 200px;
        background-color: var(--color-blue);
        color: var(--color-light);

        &::before {
            content: "";
            position: absolute;
            top: 20px;
            right: 17px;
            width: 19px;
            height: 6px;
            background-color: var(--color-light);
        }

        @include tablet {
            height: 165px;
            padding-right: 20px;
        }

        @include mobile {
            border-radius: 10px;
            padding: 15px 30px 15px 15px;
            height: 130px;
        }

        h3 {
            color: var(--color-light);

            @include tablet {
                font-size: rem(24);
            }

            @include mobile {
                font-size: rem(22);
            }
        }

        &:nth-child(even) {
            background-color: var(--color-light);
            box-shadow: var(--box-shadow);

            &::before {
                background-color: var(--color-blue);
            }

            h3 {
                color: var(--color-gray);
            }
        }


        @include laptop {

            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(5) {
                background-color: var(--color-blue);
                color: var(--color-light);

                &::before {
                    background-color: var(--color-light);
                }

                h3 {
                    color: var(--color-light);
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6) {
                background-color: var(--color-light);
                color: var(--color-gray);

                &::before {
                    background-color: var(--color-blue);
                }

                h3 {
                    color: var(--color-gray);
                }
            }
        }


        @include mobile {
            &:nth-child(odd) {
                background-color: var(--color-blue);
                color: var(--color-light);

                &::before {
                    background-color: var(--color-light);
                }

                h3 {
                    color: var(--color-light);
                }
            }

            &:nth-child(even) {
                background-color: var(--color-light);
                color: var(--color-gray);

                &::before {
                    background-color: var(--color-blue);
                }

                h3 {
                    color: var(--color-gray);
                }
            }
        }
    }
}