@use 'helpers'as *;


body {
    font-size: 24px;
    display: flex;
    flex-direction: column;

    font-family: var(--font-family-base);
    // letter-spacing: -0.03em;
    color: var(--color-gray);
    background-color: var(--color-base);

    @include tablet {
        font-size: 18px;
    }
}

main {
    flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--color-gray);

}



h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 600;
}

h1,
.h1 {
    @include fluid-text(70, 30);
    text-transform: uppercase;
    line-height: 1.2;
}

h2,
.h2 {

    font-size: rem(42);
    text-transform: uppercase;
    line-height: 1.4;

    @include tablet {
        font-size: rem(36);
    }

    @include mobile {
        font-size: rem(26);
    }

}

.h2 span {
    color: var(--color-blue);
}

h3,
.h3 {
    @include fluid-text(40, 24);
}

h4,
.h4 {
    @include fluid-text(26, 18);
}

h5,
.h5 {
    @include fluid-text(24, 18);
}

h6,
.h6 {
    @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
    transition-duration: var(--transition-duration);
}

button,
button:active,
button:focus {
    border: none;
}

a {
    color: inherit;

    @include hover {
        color: var(--color-blue);
    }

    // отключить подчеркивание ссылок, у которых есть класс
    &[class] {
        text-decoration: none;
    }
}

.color-blue {
    color: var(--color-blue);
}

// при фокусе на элементе, который доступен с клавиатуры, добавить аутлайн
:focus-visible {
    outline: rem(2) dashed var(--color-gray);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}