@use 'helpers'as *;

// ширина контентного контейнера согласно параметрам амкета
.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x)
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

body.no-scroll {
    overflow: hidden;
}

// скрыть элемент на ширине 768 и более
.visible-mobile {
    @include mobile {
        display: none !important;
    }
}

// Показывать ТОЛЬКО на мобильных (скрывать на планшетах и десктопах)
.visible-mobile-only {
    display: none !important;

    @include mobile {
        display: block !important;
    }
}




.wow {
    opacity: 0;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.wow[style*="visibility: visible;"] {
  opacity: 1; }