@use 'helpers'as *;

:root {
    --color-base: #f8f8f8;
    --color-light: #FFFFFF;
    --color-input-form: #cecece;
    --color-gray: #1e1e1e;
    --color-light-gray: #D9D9D9;
    --color-notes: #a3a3a3;

    --color-blue: #0063c7;
    --color-accent: #003366;

    --font-family-base: 'Montserrat',
        sans-serif;
    --font-family-accent: 'Inter',
        sans-serif;
    // ширина контейнера
    --container-width: #{rem(1640)};
    // внутренние горизонтальные оступы - смотреть на мобильной версии
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.4s;
    --box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
    --100vw: calc(100vw - var(--scrollbar-width));

    // контейнер на лэптопе
    @include laptop {
        --container-width: #{rem(1280)};
    }

    @include tablet {
        --container-padding-x: #{rem(32)};
    }

    @include mobile {
        --container-padding-x: #{rem(24)};
    }
}